@import '../../../index.css';

.dashboard-layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  background-color: #f5f7fa;

  .container {
    padding: 12px;

    .content {
      height: 100%;
      background-color: var(--color-white);
      padding: 12px;
    }

    .footer {
      text-align: center;
      padding: 24px 50px 12px 50px;
    }
  }
}
