@import '../../../index.css';

.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;

  .container {
    display: flex;
    flex: 1;
    padding: 1rem;
    flex-direction: column;

    .content {
      display: flex;
      padding: 1rem;
      background-color: var(--color-white);
    }
  }
}
